
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="widt=device-width"/>
    <title>IndeTeest</title>
    
    <link  rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting
        World (from view)
        <div>
            <h3>We're going to have an exciting party </h3>
            <h4>And you are invited</h4>
        </div>
        <a class="btn btn-dark" asp-action="RsvpForm">Rsvp Now</a><!--Силка на метод в контроллері-->
    </div>
</body>
</html>



